#chatroom{
    border: 5px solid deeppink;
    background-color: forestgreen;
    color: greenyellow;
    padding: 10px;
    margin: 10px 0;
}
ul {

}
#newMessage{
    border: 5px solid forestgreen;
    background-color: deeppink;
    padding: 10px;
    margin: 10px 0;
}

#input{
 width: 550px;
    height: 50px;
}

#form>button{
    background: yellowgreen;
}

#form::after {
    content: "";
    clear: both;
    display: table;
}



id new-message div

